<h2>My Products</h2>
<ul class="products">
    <li *ngFor="let product of products"
    [class.selected]="product === selectedProduct"
    (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.name}}
  </li>
</ul>
<div *ngIf="selectedProduct">
    <h2>{{selectedProduct.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedProduct.id}}</div>
    <div>
      <label for="product-name">product name: </label>
      <input id="product-name" [(ngModel)]="selectedProduct.name" placeholder="name">
    </div>
    <div>
      <label for="product-price">product price: </label>
      <input id="product-price" [(ngModel)]="selectedProduct.price" placeholder="price">
    </div>
  </div>
